.container-log-in {
  background-color: #dbdbdb;
  font-weight: 600;
  font-size: 20px;
  color: #243E36;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid;
  border-color: #243E36;
  text-align: center;
  margin: auto;
  margin-top: 8%;
  width: 70%
}
